* {
    /* JetBrainsMonoNL Nerd Font yüklü olmalı */
    font-family: JetBrainsMonoNL Nerd Font, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    background-color: rgba(23, 25, 28, 0.8);
    border-bottom: 2px solid rgba(100, 114, 125, 0.5);
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.active {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

tooltip * {
    color: #cccccc;
    background-color: #000000;
    text-shadow: none;
    padding: 0px;
    margin: 1px;
    border-radius: 10px;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#wireplumber,
#custom-media,
#tray,
#mode {
    padding: 0 10px;
    color: #cccccc;
    background-color: transparent;
}

#pulseaudio {
    padding: 0 6px;
    color: #cccccc;
    background-color: transparent;
}

#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#language:hover,
#mode:hover {
    background-color: #000000;
    color: #cccccc;
    border-radius: 5px;
    font-size: 16px;
}

#window,
#workspaces {
    margin: 0 4px;
}

#window {
    padding-right: 10px;
}

#custom-swaync {
    font-size: 14px;
    padding: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    color: #ffffff;
    padding-right: 20px;
}

#battery {
    background-color: transparent;
}

#battery.charging,
#battery.plugged {
    color: #cccccc;
    background-color: #a4a4a4;
}

label:focus {
    background-color: #000000;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #000000;
}

#language {
    background: #333333;
    color: #cccccc;
    padding: 0 10px;
    margin: 0 5px;
    min-width: 16px;
}

/* Pulseaudio slider without background image */
#pulseaudio-slider slider {
    opacity: 1;
    background-color: white;
    color: white;
    border: none;
    border-radius: 50px;
    box-shadow: none;
}

#pulseaudio-slider trough {
    min-height: 8px;
    min-width: 80px;
    border-radius: 5px;
    background-color: black;
}
#pulseaudio-slider highlight {
    min-width: 10px;
    border-radius: 5px;
    background-color: #cccccc;
}

menu {
    min-width: 0px;
    border-radius: 30px;
    background: #000000;
    color: #cccccc;
}
